{template 'common/header'}
<ul class="nav nav-tabs">

  <li {if $op == 'display'} class="active" {/if}><a href="{php echo $this->createWebUrl('Product',array('op' =>'display'))}">参数设置</a></li>
  <li{if $op == 'yanzheng'} class="active" {/if}><a href="{php echo $this->createWebUrl('Product',array('op' =>'yanzheng'))}">短信验证</a></li>
  <!-- <li{if $op == 'xinxi'} class="active" {/if}><a href="{php echo $this->createWebUrl('Product',array('op' =>'xinxi'))}">OPID设置</a></li> -->
</ul>
{if $op == 'display'}
<div class="panel panel-info">
  <div class="panel-heading">筛选</div>
  <div class="panel-body">
    
<form action="" method="post">

<div class="form-group">
    <label class="col-sm-2 control-label" for="gz">是否引导关注</label>
     <div class="col-sm-10">
     <label class="radio-inline">
  <input type="radio" name="forcegz" value="1" {if $lock['forcegz'] == 1}checked="checked"{/if}> 是
</label>
<label class="radio-inline">
  <input type="radio" name="forcegz" value="0"{if $lock['forcegz'] == 0}checked="checked"{/if} > 否
</label>

    </div>
   <div style="clear:both"></div>
  </div>
  
  
  
  
  
  <input type="hidden" name="token" value="{$_W['token']}">
    
    <input type="submit" name="submit" class="btn btn-default" value="提交" style="background-color: green;color: white">
</form>
  </div>
</div>
{elseif $op == 'yanzheng'}
<div class="main">
  <form action="" method="post" class="form-horizontal form" id="form">
    <div class="panel panel-default">
      <div class="panel-heading">短信信息设置</div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">appkey</label>
          <div class="col-xs-12 col-sm-8">
            <input type="text" name="appkey" class="form-control" value="" />
            <p class="font_13px_999" style="color:red">*</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">短信模板ID</label>
          <div class="col-xs-12 col-sm-8">
            <input type="text" name="tplid" class="form-control" value="" />
            <p class="font_13px_999" style="color:red">*</p>
          </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
            <input name="submit" type="submit" value="提交" class="btn btn-primary" />
            <input type="hidden" name="token" value="{$_W['token']}" />
          </div>
        </div>


      </div>
    </div>
  </form>
</div>
<script>
require(['jquery', 'util'], function($, util){
  $(function(){
    $('#form').submit(function(){
      if($('input[name="appkey"]').val() == ''){
        util.message('请填appkey.');
        return false;
      }
      if($('input[name="tplid"]').val() == ''){
        util.message('请填写ID.');
        return false;
      }
      return true;
    });
  });
});
</script>


{elseif $op == 'xinxi'}


<script>
require(['jquery', 'util'], function($, util){
  $(function(){
    $('#form').submit(function(){
      if($('input[name="demoney"]').val() == ''){
        util.message('请填写押金.');
        return false;
      }
      if($('input[name="moneyone"]').val() == ''){
        util.message('请填写充值金额选项一.');
        return false;
      }

      if($('input[name="moneytwo"]').val() == ''){
        util.message('请填写充值金额选项二.');
        return false;
      }


      if($('input[name="moneythree"]').val() == ''){
        util.message('请填写充值金额选项三.');
        return false;
      }

      if($('input[name="moneyfour"]').val() == ''){
        util.message('请填写充值金额选项四.');
        return false;
      }

      if($('input[name="day"]').val() == ''){
        util.message('请填写清柜天数.');
        return false;
      }

      if($('input[name="moneysmall"]').val() == ''){
        util.message('请填写1H内收费标准.');
        return false;
      }

      if($('input[name="moneybig"]').val() == ''){
        util.message('请填写超出1H内收费标准.');
        return false;
      }
      
      return true;
    });
  });
});
</script>





{/if}


{template 'common/footer'}