<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>梦想经纪人</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="assets/i/favicon.png">
        <link rel="stylesheet" href="css/amazeui.min.css">
        <link rel="stylesheet" href="css/app.css">
	</head>
	<body>
			<!--头部-->
	<header data-am-widget="header" class="am-header am-header-default dream-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">充 值</a>
            </h1>
	</header>
	<div style="height: 49px;"></div>
		<div class="money">
			<img src="images/money.png"/>
			<p style="margin-top: 8px;">当前余额</p>
			<p class="moneynum">¥1.00</p>
		</div>
		<p><a href="" class="money-btn">充 值</a></p>
		<p><a href="" class="money-btn1" style="margin-bottom: 40px;">提 现</a></p>
	<div style="height: 49px;"></div>	
	</body>
</html>
