<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>梦想经纪人</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="{MODULE_URL}template/mobile/ers/image/png" href="assets/i/favicon.png">
        <link rel="stylesheet" href="{MODULE_URL}template/mobile/ers/css/amazeui.min.css">
        <link rel="stylesheet" href="{MODULE_URL}template/mobile/ers/css/app.css">
	</head>
	<body style="background: #fff;">
		<header data-am-widget="header" class="am-header am-header-default dream-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">还 款</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	     
	    <ul class="private">
	    {loop $res $key $item}
	    	<li>
	    		<div class="private-pic"><img src="{MODULE_URL}template/mobile/ers/images/1.jpg"/></div>
	    		<div class="private-right">
	    			<p><span>{$item['users']} </span><i>到期时间：{php echo date('Y-m-d',$item['hetimez'])}</i></p>
	    			<p style="color: red">额度(元)：{$item['edu']}.00元 <a href="{php echo $this->createMobileUrl('Huankuan',array('op' => 'mma','edid'=>$item['edid'],'phone'=>$item['phone'],'heid'=>$item['heid']))}" ><i style="color: green">点击还款</i></a></p>
	    		</div>
	    	</li>
	    	  
 {/loop}
	    </ul>
	   
	     <div style="height: 49px;"></div>
   <!--底部-->
 <div data-am-widget="navbar" class="am-navbar  dream-foot"   id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4">
          <li >
            <a href="{php echo $this->createMobileUrl('Index',array('op' => 'display'))}" class="curr">
                <span><img src="{MODULE_URL}template/mobile/ers/images/home.png"/></span>
                <span class="am-navbar-label">首页</span>
            </a>
          </li>
          <li>
            <a href="{php echo $this->createMobileUrl('Index',array('op' => 'mmt'))}" class="">
                <span><img src="{MODULE_URL}template/mobile/ers/images/about.png"/></span>
                <span class="am-navbar-label">关于我们</span>
            </a>
          </li>
          <li >
            <a href="{php echo $this->createMobileUrl('Personal',array('op' => 'display'))}" class="">
                <span><img src="{MODULE_URL}template/mobile/ers/images/member.png"/></span>
                <span class="am-navbar-label">个人中心</span>
            </a>
          </li>
      </ul>
  </div>
	</body>
</html>
