<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>借贷</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="{MODULE_URL}template/mobile/ers/css/amazeui.min.css">
        <link rel="stylesheet" href="{MODULE_URL}template/mobile/ers/css/app.css">
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default dream-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">关于我们</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	    <div class="newcon" style="margin-top: 0;">
		<p>最近热播的《琅琊榜》中，靖王一角受到了众多人的喜爱。话题“我们都是靖王妃”更是刷上了热搜榜。那么，在《琅琊榜》中帅气正直的靖王王凯之前都扮演过怎样的角色呢?小编带你来一看究竟~</p>
	    <p>提到王凯，很多人第一个想到的就是《丑女无敌》中他饰演的这个娘娘腔的角色。红色框架眼镜是他的标配，搭配红色紫色等夸张配色的衣服和永远翘起的兰花指，有时甚至还有豹纹丝巾这样同样夸张的配饰，这样一个大家印象中娘娘腔的角色就被他成功塑造出来了。不过据说他可是实打实的直男一枚。
新神探联盟之包大人来了</p>
        <p>提到王凯，很多人第一个想到的就是《丑女无敌》中他饰演的这个娘娘腔的角色。红色框架眼镜是他的标配，搭配红色紫色等夸张配色的衣服和永远翘起的兰花指，有时甚至还有豹纹丝巾这样同样夸张的配饰，这样一个大家印象中娘娘腔的角色就被他成功塑造出来了。不过据说他可是实打实的直男一枚。
新神探联盟之包大人来了</p>
        <p>提到王凯，很多人第一个想到的就是《丑女无敌》中他饰演的这个娘娘腔的角色。红色框架眼镜是他的标配，搭配红色紫色等夸张配色的衣服和永远翘起的兰花指，有时甚至还有豹纹丝巾这样同样夸张的配饰，这样一个大家印象中娘娘腔的角色就被他成功塑造出来了。不过据说他可是实打实的直男一枚。
新神探联盟之包大人来了</p>
	    </div>
	    <div style="height: 49px;"></div>
    <!--底部-->
 <div data-am-widget="navbar" class="am-navbar  dream-foot"   id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4">
          <li >
            <a href="{php echo $this->createMobileUrl('Index',array('op' => 'display'))}" class="curr">
                <span><img src="{MODULE_URL}template/mobile/ers/images/home.png"/></span>
                <span class="am-navbar-label">首页</span>
            </a>
          </li>
          <li>
            <a href="{php echo $this->createMobileUrl('Index',array('op' => 'mmt'))}" class="">
                <span><img src="{MODULE_URL}template/mobile/ers/images/about.png"/></span>
                <span class="am-navbar-label">关于我们</span>
            </a>
          </li>
          <li >
            <a href="{php echo $this->createMobileUrl('Personal',array('op' => 'display'))}" class="">
                <span><img src="{MODULE_URL}template/mobile/ers/images/member.png"/></span>
                <span class="am-navbar-label">个人中心</span>
            </a>
          </li>
      </ul>
  </div>
	</body>
</html>
