{template 'common/header'}
    <div class="panel-body">
        <form class="form-horizontal" role="form" id="defaultForm" action="" method="POST" >
          	<div class="form-group">
          		<div class="col-sm-10">
            		<h4 id="1" style="text-align: center">广告详情</h4>
		  		</div>
          	</div>
          	<hr/>
          	<div class="form-group">
		    	<label for="uname" class="col-sm-2 control-label" >标题</label>
		    	<div class="col-sm-6">
		      		<input type="text" class="form-control" id="uname" name="class_name" placeholder="" value="{$data['title']}"> 
		    	</div>
		  	</div>

		  	<div class="form-group">
		    	<label for="uname" class="col-sm-2 control-label">图片</label>
		    	<div class="col-sm-6">
		      		<img src=" {php echo tomedia($data['pic']);}" alt="">
		    	</div>
		  	</div>
		  	<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">内容</label>
				<div class="col-xs-12 col-sm-6">
					{php echo html_entity_decode($data['one'])}
				</div>
			</div>
	   		
		</form>
	</div>
</div>


{template 'common/footer'}





   		

